.active {
    fill: $color-secondary;
}

.svg-container {
    overflow-x: auto;
}

path {
    &:hover {
        fill: $color-primary-light;
        stroke: $color-grey-light-1;
        stroke-width: 0.621318px;
    }
}

.description {
    pointer-events: none;
    position: absolute;
    font-size: 18px;
    text-align: center;
    background: white;
    padding: 10px 15px;
    z-index: 5;
    height: 56px;
    line-height: 30px;
    margin: 0 auto;
    color: #21669e;
    border-radius: 5px;
    box-shadow: 0 0 0 1px #eee;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    display: none;
    &.active {
        display: block;
    }
    &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 100%;
        width: 0;
        height: 0;
    }
}

.ant-carousel .slick-dots li {
    margin-top: 5px;
    height: 10px;
    background-color: $color-primary;

    & button {
        height: 10px;
    }
}

.image-travel {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

@media only screen and (max-width: 1200px) {
    .image-travel {
        width: 100% !important;
    }
}

@media only screen and (max-width: 600px) {
    .image-travel {
        margin-top: 50%;
    }
}
