$color-primary: #6fb8d5;
$color-primary-light: #70def1;
$color-primary-dark: #5cbfed;

$color-secondary: #e06565;
$color-secondary-light: #efb1b1;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

.content {
  margin: 24px 16px;
  padding: 24px;
  background: $color-white;
  min-height: 94vh !important;
}

.ant-list-items {
  height: 256px;
}

.ant-tabs {
  height: 400px;
}

.mt-10 {
  margin-top: 10px;
}

@media only screen and (max-width: 1440px) {
  .ant-tabs {
    height: 600px;
  }

  .ant-list-items {
    height: 400px;
  }
}
