$color-primary: #6fb8d5;
$color-primary-light: #70def1;
$color-primary-dark: #5cbfed;

$color-secondary: #e06565;
$color-secondary-light: #efb1b1;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

.content {
    margin: 24px 16px;
    padding: 24px;
    background: $color-white;
    min-height: 100vh !important;
}

@mixin respond($breakpoint) {
    @if $breakpoint==phone {
        @media only screen and (max-width: 600px) {
            @content;
        } //600px
    }

    @if $breakpoint==tab-port {
        @media only screen and (max-width: 900px) {
            @content;
        } //900px
    }

    @if $breakpoint==tab-land {
        @media only screen and (max-width: 1200px) {
            @content;
        } //1200px
    }

    @if $breakpoint==big-desktop {
        @media only screen and (min-width: 1800px) {
            @content;
        } //1800
    }
}
