.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
        color: $color-primary;
    }
}

.logo {
    height: 32px;
    margin: 16px;
    &__text {
        color: $color-white;
        height: auto;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
    }
}

.ant-menu-light > .ant-menu-submenu > .ant-menu-sub {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.ant-menu-item-selected {
    &:first-child {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    &:last-child {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}
